*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
   
}
.card{
  margin: 20px 20px;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(202, 196, 196);
  border-width: 5px;

}

.card img{
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.card p{
  margin: 20px 10px;
  
}
.card button{
  padding: 10px 20px;
  background-color: white;
}
.card h1{
  margin: 20px 20px ;
  font-style: italic;
  font-display: auto;
}